@model ZMO_Eskisehir_WebUI.Models.GroupOfModels;

<form asp-controller="Admin" asp-action="Index">
    <div class="form-group">
        <input type="text" asp-for="password" value="@Model.password" class="form-control" readonly hidden autocomplete="off" />
    </div>
    <div class="form-group">
        <input type="submit" value="panel ana sayfasına dön" class="btn btn-secondary" />
    </div>
</form>
<h4 style="color:darkred">Dosya seçimi ekle butonuna tıklanıldıktan sonra yapılacak</h4>
<h3>Basın Bülteni Ekleme</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="BultenEkle" method="post">
            <div class="form-group">
                <label>Bülten Başlığı</label>
                <input asp-for="basinBultenlerimizModel.Baslik" class="form-control" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Tarih</label>
                <input asp-for="basinBultenlerimizModel.Tarih" class="form-control" value="@DateTime.UtcNow.AddHours(3)" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Ekstra Link Ekleyebilirsiniz. Eklemek istemiyorsanız nokta koyun</label>
                <input asp-for="basinBultenlerimizModel.Link" class="form-control" required autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="text" asp-for="password" class="form-control" readonly hidden autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="submit" value="Bülteni Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<hr />

<h3>Bütün bültenler Aşağıda Listelenmiştir. Bülteni Sil seçeneği ile ilgili bülteni silebilirsiniz</h3>
<br />

@{
    <ul style="list-style:none">
        @{
            int counter = 1;
            foreach (var bulten in Model.basinBultenlerimizModel.bultenler)
            {
                if (counter >= 100)
                {
                    break;
                }
                <li style="margin-bottom:15px">
                    <h3 class="text-break" style="color:darkred">@bulten.Baslik</h3>
                    <p style="font-weight:bold">@bulten.Tarih.ToShortDateString()</p>
                    <p><a href="@bulten.Link">@bulten.Link</a></p>
                    @{ string fileName = bulten.Id + ".doc";}
                    <p><a href="~/Resources/Documents/BasinBultenleri/@fileName" download="basinbulteni">  Bülteni İndirmek İçin Tıklayın</a></p>
                    <form asp-controller="Admin" asp-action="BulteniSil">
                        <div class="form-group">
                            <input asp-for="id" value="@bulten.Id" class="form-control" hidden readonly autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="password" class="form-control" readonly hidden autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Bülteni Sil" class="btn btn-danger" />
                        </div>
                    </form>
                    <form asp-controller="Admin" asp-action="BasinBulteniUpdate">
                        <div class="form-group">
                            <input asp-for="id" value="@bulten.Id" class="form-control" hidden readonly autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input asp-for="password" value="@Model.password" class="form-control" hidden readonly autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Bülten Bilgilerini Değiştir" class="btn btn-info" />
                        </div>
                    </form>
                    <hr />
                </li>
                counter += 1;
            }
        }

    </ul>
}