@model ZMO_Eskisehir_WebUI.Models.GroupOfModels;

<form asp-controller="Admin" asp-action="Index">
    <div class="form-group">
        <input type="text" asp-for="password" value="@Model.password" class="form-control" readonly hidden autocomplete="off" />
    </div>
    <div class="form-group">
        <input type="submit" value="panel ana sayfasına dön" class="btn btn-secondary" />
    </div>
</form>
<hr />
<h3>Etkinlik Bilgilerini Düzenle (fotoğrafı değiştirmek için kayıt silinip tüm bilgiler tekrar girilmelidir)</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="EtkinlikUpdatePost" method="post">
            <div class="form-group">
                <label>Etkinlik Başlığı</label>
                <input asp-for="etkinlikModel.Baslik" class="form-control" value="@Model.etkinlikModel.Baslik" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Yeni Tarih Girin (eski tarih: @Model.etkinlikModel.Tarih)</label>
                <input asp-for="etkinlikModel.Tarih" class="form-control" value="@DateTime.UtcNow.AddHours(3)" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Etkinlik ile ilgili bir link girin. Link koymak istemiyor iseniz nokta koyun</label>
                <input asp-for="etkinlikModel.Link" class="form-control" type="text" value="@Model.etkinlikModel.Link" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="metintextarea">Etkinliği açıklayan metin girin</label>
                <textarea class="form-control" asp-for="etkinlikModel.Metin" id="metintextarea" rows="5" required autocomplete="off">@Model.etkinlikModel.Metin</textarea>
            </div>
            <div class="form-group">
                <input type="text" asp-for="password" class="form-control" readonly hidden autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="text" asp-for="etkinlikModel.Id" value="@Model.etkinlikModel.Id" class="form-control" readonly hidden autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="submit" value="Etkinliği Yukarıdaki Bilgiler İle Güncelle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>