@model ZMO_Eskisehir_WebUI.Models.GroupOfModels;

<form asp-controller="Admin" asp-action="Index">
    <div class="form-group">
        <input type="text" asp-for="password" value="@Model.password" class="form-control" readonly hidden autocomplete="off" />
    </div>
    <div class="form-group">
        <input type="submit" value="panel ana sayfasına dön" class="btn btn-secondary" />
    </div>
</form>
<h3 style="color:darkred">Not: Dosya Seçim İşlemi Ekle Butonuna Tıklanıldıktan Sonra Yapılır</h3>
<h3>Haber Ekleme</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="HaberEkle" method="post">
            <div class="form-group">
                <label>Haberin Başlığı</label>
                <input asp-for="haberModel.Baslik" class="form-control" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Tarih</label>
                <input asp-for="haberModel.Tarih" class="form-control" value="@DateTime.UtcNow.AddHours(3)" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Haber ile ilgili bir link girin. Link koymak istemiyor iseniz nokta koyun</label>
                <input asp-for="haberModel.Link" class="form-control" type="text" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="metintextarea">Haberi açıklayan metin girin</label>
                <textarea class="form-control" asp-for="haberModel.Metin" id="metintextarea" rows="5" required autocomplete="off"></textarea>
            </div>
            <div class="form-group">
                <input type="text" asp-for="password" class="form-control" readonly hidden autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="submit" value="Haberi Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<hr />

<h3>Bütün Haberler Aşağıda Listelenmiştir. Haberi Sil seçeneği ile ilgili haberi silebilirsiniz</h3>
<br />

@{
    <ul style="list-style:none">
        @{
            int counter = 1;
            foreach (var haber in Model.haberModel.haberler)
            {
                if (counter>=100)
                {
                    break;
                }
                <li style="margin-bottom:15px">
                    @{ string imageName = haber.Id.ToString() + ".jpg";}
                    <img src="~/Resources/Images/Haberler/@imageName" alt="haber fotografi" style="max-width:40%" />
                    <p style="font-weight:bold">@haber.Tarih.ToShortDateString()</p>
                    <h4 class="text-break" style="color:darkred">@haber.Baslik</h4>
                    <p class="text-break">@haber.Metin</p>
                    <p class="text-break"><a href="@haber.Link" target="_blank">@haber.Link</a></p>
                    <form asp-controller="Admin" asp-action="HaberiSil">
                        <div class="form-group">
                            <input asp-for="id" value="@haber.Id" class="form-control" hidden readonly autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input asp-for="password" value="@Model.password" class="form-control" hidden readonly autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Haberi Sil" class="btn btn-danger" />
                        </div>
                    </form>
                    <form asp-controller="Admin" asp-action="HaberUpdate">
                        <div class="form-group">
                            <input asp-for="id" value="@haber.Id" class="form-control" hidden readonly autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input asp-for="password" value="@Model.password" class="form-control" hidden readonly autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Haber Bilgilerini Değiştir" class="btn btn-info" />
                        </div>
                    </form>
                    <hr />
                </li>
                counter+=1;
            }
        }
    </ul>
}