@model ZMO_Eskisehir_WebUI.Models.EtkinlikModel;

    <button type="button" class="btn btn-success"><a asp-controller="Home" asp-action="Index" style="color:whitesmoke; font-weight:bold; text-decoration:none">Ana Sayfa</a></button>
    <hr />

    <h4 style="font-weight:bold; margin-bottom:30px">Tüm Etkinlikler</h4>


    <ul>
        @{
            int counter = 1;
            foreach (var etkinlik in Model.etkinlikler)
            {
                if (counter >= 100)
                {
                    break;
                }
                <li style="list-style:none">
                    @{ string imageName = etkinlik.Id.ToString() + ".jpg";}
                    <img src="~/Resources/Images/Etkinlikler/@imageName" alt="etkinlik fotografi" style="max-width:50%" />
                    <p style="font-weight:bold">@etkinlik.Tarih.ToShortDateString()</p>
                    <h4 style="color:darkred" class="text-break">@etkinlik.Baslik</h4>
                    <p class="text-break">@etkinlik.Metin</p>
                    <p class="text-break"><a href="@etkinlik.Link" target="_blank">@etkinlik.Link</a></p>
                    <hr />
                </li>
                counter += 1;
            }
        }
    </ul>