@model ZMO_Eskisehir_WebUI.Models.GroupOfModels;
@{
    <button type="button" class="btn btn-success"><a asp-controller="Home" asp-action="Index" style="color:whitesmoke; font-weight:bold; text-decoration:none">Ana Sayfa</a></button>
    <hr />

    foreach (var haber in Model.haberModel.haberler)
    {
        <h5 style="font-weight:bold">@haber.Tarih.ToShortDateString()</h5>
        <h4 style="color:darkgreen; font-weight:bold" class="text-break">@haber.Baslik</h4>
        string imageName = haber.Id.ToString() + ".jpg";
        <img src="~/Resources/Images/Haberler/@imageName" alt="haber fotoğrafı yok" style="max-width:50%">
        <p class="text-break">@haber.Metin</p>
        <a href="@haber.Link" class="text-break">@haber.Link</a>
    }
}